name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      SOURCECODE_BRANCH:
        description: '源码分支名称或修订版'
        required: true
        default: 'lineage-23.1'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
      CCACHE_DIR: /home/runner/.ccache
      CCACHE_MAXSIZE: 8G
    strategy:
      fail-fast: false
    name: Build Kernel for K40GE
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Install Package
        run: sudo apt update && sudo apt install -y p7zip-full git ccache

      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: /home/runner/.ccache
          key: ccache-${{ runner.os }}-${{ github.ref }}
          restore-keys: |
            ccache-${{ runner.os }}-

      - uses: actions/checkout@v5

      - name: Get Kernel Source Code
        uses: actions/checkout@v5
        with:
          repository: Eron-Evan/android_kernel_xiaomi_mt6893
          ref: ${{ inputs.SOURCECODE_BRANCH }}
          path: kernel
      
      - name: Setup Cross-compile toolchain
        run: |
          mkdir -p toolchain
          cd toolchain
          wget -q https://github.com/Mandi-Sa/clang/releases/download/amd64-kernel-arm_static-22/llvm22.0.0-binutils2.44_amd64-kernel-arm_static-20251116.7z
          7za x llvm22.0.0-binutils2.44_amd64-kernel-arm_static-20251116.7z
          rm llvm22.0.0-binutils2.44_amd64-kernel-arm_static-20251116.7z
      
      - name: Build Kernel for K40GE
        working-directory: kernel
        env:
          args: |+
            LLVM=1 ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu-
            CROSS_COMPILE_ARM32=arm-linux-gnueabi- CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
            CC=clang LD=ld.lld HOSTLD=ld.lld O=out KCFLAGS+=-O2 KCFLAGS_PERF+=-O3
        run: |
          export KBUILD_BUILD_TIMESTAMP=$(date)
          export PATH=/usr/lib/ccache:$GITHUB_WORKSPACE/toolchain/bin:$PATH
          make -j$(nproc --all) ${args} ares_defconfig all

      
      
      # خطوة رفع النتائج البرمجية (Artifacts)
      - name: Upload Kernel Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Kernel-K40GE-${{ inputs.SOURCECODE_BRANCH }}
          path: |
            kernel/out/arch/arm64/boot/Image
            kernel/out/arch/arm64/boot/Image.gz
            kernel/out/arch/arm64/boot/Image.gz-dtb
            kernel/out/arch/arm64/boot/dts/mediatek/ares.dtb
            
          if-no-files-found: warn
