name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      enable_feature_kpm:
        description: "是否启用kpm"
        required: false
        default: false
        type: boolean
      SOURCECODE_BRANCH:
        description: '源码分支名称或修订版'
        required: true
        default: 'U-dev'
      SUKISU_BRANCH:
        description: 'SukiSU 分支名称或修订版'
        required: true
        default: 'susfs-main'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "%compiler% -dumpmachine; %compiler% -dumpversion"
      CCACHE_NOHASHDIR: "true"
      CCACHE_HARDLINK: "true"
      CCACHE_DIR: /home/runner/.ccache
      CCACHE_MAXSIZE: 8G
    strategy:
      fail-fast: false
    name: Build Kernel for K40GE

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Install Package
        run: sudo apt update && sudo apt install -y p7zip-full git ccache

      - name: Restore ccache
        uses: actions/cache@v4
        with:
          path: /home/runner/.ccache
          key: ccache-${{ runner.os }}-${{ github.ref }}
          restore-keys: |
            ccache-${{ runner.os }}-

      - uses: actions/checkout@v5

      - name: Get Kernel Source Code
        uses: actions/checkout@v5
        with:
          repository: MerCuJerry/android_kernel_aresin
          ref: ${{ inputs.SOURCECODE_BRANCH }}
          path: kernel

      # ===== TOOLCHAIN (Proton Clang 14) =====
      - name: Setup Proton Clang Toolchain
        run: |
          git clone --depth=1 -b clang-14 https://github.com/kdrag0n/proton-clang.git toolchain

      - name: Set up SukiSU
        working-directory: kernel
        run: |
          echo DATE=$(date +%F) >> $GITHUB_ENV
          export BRANCH=${{ inputs.SUKISU_BRANCH }}
          curl -LSs "https://raw.githubusercontent.com/SukiSU-Ultra/SukiSU-Ultra/main/kernel/setup.sh" | bash -s $BRANCH
          cd ./KernelSU
          export KSU_VERSION=$(expr $(/usr/bin/git rev-list --count main) "+" 40000 "-" 2815)
          echo "KSUVER=$KSU_VERSION" >> $GITHUB_ENV
          sed -i "s/DKSU_VERSION=12800/DKSU_VERSION=${KSU_VERSION}/" kernel/Makefile

      - name: Get SukiSU Patches
        uses: actions/checkout@v5
        with:
          repository: SukiSU-Ultra/SukiSU_patch
          path: sukisu_patch

      - name: Get susfs4ksu
        run: |
          git clone -b kernel-4.14 --depth=1 https://gitlab.com/simonpunk/susfs4ksu.git
          cp $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/fs/* $GITHUB_WORKSPACE/kernel/fs/
          cp $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/include/linux/* $GITHUB_WORKSPACE/kernel/include/linux/

      - name: Get susfs Update patch
        uses: actions/checkout@v5
        with:
          repository: JackA1ltman/NonGKI_Kernel_Build_2nd
          sparse-checkout: Patches/Patch
          ref: mainline
          path: susfs_upgrade_patch

      - name: Patch Kernel
        working-directory: kernel
        run: |
          patch -p1 < $GITHUB_WORKSPACE/Patches/susfs-syscall-hooks.patch

      - name: Apply KernelPatch for SUSFS
        working-directory: kernel
        run: |
          patch -p1 -F 3 < $GITHUB_WORKSPACE/susfs4ksu/kernel_patches/50_add_susfs_in_kernel-4.14.patch
          patch -p1 < $GITHUB_WORKSPACE/susfs_upgrade_patch/Patches/Patch/susfs_upgrade_to_1511_4.14.patch || true
          patch -p1 < $GITHUB_WORKSPACE/susfs_upgrade_patch/Patches/Patch/susfs_upgrade_to_1512_4.14.patch || true
          patch -p1 < $GITHUB_WORKSPACE/Patches/susfs_upgrade_to_1512_4.14_fix.patch
          patch -p1 < $GITHUB_WORKSPACE/susfs_upgrade_patch/Patches/Patch/susfs_upgrade_to_2000_4.14.patch || true
          patch -p1 < $GITHUB_WORKSPACE/Patches/susfs_upgrade_to_2000_4.14_fix_after.patch

      - name: Copy defconfig
        run: |
          if [ "${{ inputs.enable_feature_kpm }}" = "true" ]; then
            echo "CONFIG_KALLSYMS_ALL=y" >> $GITHUB_WORKSPACE/Patches/ares_user_defconfig_append
            echo "CONFIG_KPM=y" >> $GITHUB_WORKSPACE/Patches/ares_user_defconfig_append
          fi
          cat $GITHUB_WORKSPACE/Patches/ares_user_defconfig_append >> \
          $GITHUB_WORKSPACE/kernel/arch/arm64/configs/ares_user_defconfig

      - name: Build Kernel for K40GE
        working-directory: kernel
        env:
          args: |+
            LLVM=1 ARCH=arm64
            CROSS_COMPILE=aarch64-linux-gnu-
            CROSS_COMPILE_ARM32=arm-linux-gnueabi-
            CROSS_COMPILE_COMPAT=arm-linux-gnueabi-
            CC=clang LD=ld.lld HOSTLD=ld.lld
            O=out KCFLAGS+=-O2 KCFLAGS_PERF+=-O3
        run: |
          export KBUILD_BUILD_TIMESTAMP=$(date)
          export PATH=/usr/lib/ccache:$GITHUB_WORKSPACE/toolchain/bin:$PATH
          make -j$(nproc --all) ${args} ares_user_defconfig all

      - name: Upload Kernel Image
        uses: actions/upload-artifact@v4
        with:
          name: K40GE_Image
          path: kernel/out/arch/arm64/boot/Image
          compression-level: 9

      - name: Upload DTB
        uses: actions/upload-artifact@v4
        with:
          name: K40GE_DTB
          path: kernel/out/arch/arm64/boot/dtb
          compression-level: 9
